
div.span6(ng-controller='alertCtrl', ng-cloak).well
  h4 Uncheck to remove alert from website
  form
    label.checkbox(ng-repeat="alert in alertResult.data", class="active-{{alert.alertStatus}}")
      input(type="checkbox", ng-model="alert.alertStatus", ng-click = "update()") 
      | {{alert.alertText}}
  button.btn(ng-click="archive()") Remove Unchecked Alerts
