div.row-fluid
  div.span6.well
    h3 Resources
    ul
      li <a href='/shuttle'>Volunteer Shuttle Times</a>
      li <a href='http://www.volunteerfinalfouratl.com/'>Official Volunteer Site</a>
      li <a href='http://www.weather.com/weather/today/Atlanta+GA+USGA0028:1:US'>Atlanta Weather</a>
      li <a href='https://maps.google.com/maps?q=Atlanta,+GA&hl=en&ll=33.748893,-84.388046&spn=0.464166,0.627594&sll=33.767713,-84.420604&sspn=0.464064,0.627594&oq=atlanta,&hnear=Atlanta,+Fulton,+Georgia&t=m&z=11&layer=t'>Atlanta Traffic</a>
      li <a href='https://www.facebook.com/FinalFourAtlanta?ref=ts&fref=ts'>Final Four Volunteers on Facebook</a>
  div.span6.well
    h3 Official March Madness Apps
    a(href='https://itunes.apple.com/us/app/id423246594?mt=8', target='_blank')
      img(src='/images/app-store.png')
    | &nbsp;
    a(href='https://play.google.com/store/apps/details?id=com.ncaa.mmlive.app&feature=nav_result#?t=W251bGwsMSwyLDNd', target='_blank')
      img(src='/images/googleplay.png')