div.well.span6
  h2 Welcome volunteers!
  p You can stay current on the latest volunteer information in a variety of ways:
    ul
      li Check this website frequently for alerts that will be posted at the tope of the page
      li Follow <a href='http://www.twitter.com/finalfourvols'>@FinalFourVols</a> on Twitter to recieve important volunteer notifications
      li Make sure to signup for SMS (text message) alerts with the volunteer coordinators
  p Thank you for supporting the 2013 NCAA® Men’s Final Four®! We are excited to have your participation. This application has been designed to be a resource for you during the Men’s Final Four weekend.
  p Once again, thank you for dedicating your time and energy to ensure a successful championship weekend. None of this would be possible without you!
  p <strong>The most important phone number for youto remember during Final Four week is (404) 261-4590. </strong>This number is the direct line to the Volunteer Command Center. Please call with any questions – it is designed for volunteer questions and problems.
 
    
    
