extends layout

block body
  div.container-fluid
    div.row-fluid
      include partials/createalert
        
      include partials/alertupdate

    div.row-fluid
      include partials/twitter
      
    
block scripts
  script(src='/js/admin.js')
  