extends layout

block body
  div.container-fluid
    h3 Add new system alert
    form(action="")
      label.control-label(for='alertText') Message to be sent
      textarea#alertText(placeholder='Type message to be sent to volunteers', rows='3')
    a(href="#", onClick='sendAlert()').btn Send
    
block scripts
  script(src='/js/admin.js')
