extends layout

block body
	div.row-fluid
		div.span6.well
			h4 Resources
				ul
					li <a href='/shuttle'>Shuttle Times</a>
		div.span4.well
			h4 Official Twitter Feed
			ul#twitterFeed.media-list
  



