extends layout

block body
  div.container-fluid
    h2 Volunteer Site 
    div.span6
      h4 Volunteer Shuttle Bus
      div#nextShuttle
      table#pickupTimes.table.table-hover
    div.span4
      h4 Official Twitter Feed
      ul#twitterFeed.media-list
      
    


  