extends layout

block body
  div.row-fluid
    include partials/alerts
  div.row-fluid
    include partials/welcome
    include partials/twitter
  include partials/resources

block scripts
  script(src='/js/ffvol.js')