extends layout

block body
	div.row
		div.span6.well
			div
				h3 Resources
				ul
					li <a href='/shuttle'>Volunteer Shuttle Times</a>
					li <a href='http://www.volunteerfinalfouratl.com/'>Official Volunteer Site</a>
			div
				h3 Official March Madness Apps
				a(href='https://itunes.apple.com/us/app/id423246594?mt=8', target='_blank')
					img(src='/images/app-store.png')
				| &nbsp;
				a(href='https://play.google.com/store/search?q=march+madness', target='_blank')
					img(src='/images/googleplay.png')
		div.span6.well
			h3 Official Volunteer Twitter Feed
			ul#twitterFeed.media-list
  



