extends layout

block body
  div.well.span6
    h4 Register
    form(action='/register',method='post').form-horizontal
      .control-group
        label.control-label(for="username") Username
        .controls
          input#username(type='text',name='username')
      .control-group
        label.control-label(for="password") Password
        .controls
          input#password(type='password',name='password')
      .control-group
        label.control-label(for="code") Registration Code
        .controls
          input#password(type='text',name='code')
      .control-group
        .controls
          input(type='submit',value='Register', class='btn')