extends layout

block body

  div.row-fluid
    include partials/alerts

  div.row-fluid
    include partials/shuttleschedule

    
    include partials/twitter
  
      
  script(src='/js/shuttle.js')
  script(src='/js/ffvol.js')
