extends layout

block body
  div.row-fluid
    div.span6.well
      h4 Volunteer Shuttle Bus
      div#nextShuttle
      table#pickupTimes.table.table-hover
    div.span4.well
      h4 Official Twitter Feed
      ul#twitterFeed.media-list
      
  script(src='/js/shuttle.js')
