.well {
	border:1px solid #375dbc;
}
.full-name {
	font-weight:bold;
	font-size:18px;
}
a:hover, user-name {
	text-decoration:none;
}
.active-true {
}
.active-false {
	color:#222222;
	text-decoration:line-through;
}
#confirmModal {
	color:#333333;
}
.modal-header h3 {
	color:#333333;
}
#footer {
	padding-top:20px;
}
#map {
	height:740px;
}
.leaflet-popup-content {
	color:#333333;
	max-width: 200px;
}